*
{
    background-color:hsl(0, 2%, 89%);   
    margin: 0px 30px 0px 30;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    justify-content: center;

}
header {
    background-color: crimson;
    color: white;
    padding: 2px;
    text-align: center;
}

ul{
    display:flex;
    list-style-type: none;   
}
li{
    text-align: center;
    background-color: #757575;
    padding: 10px;
    margin: 2px 20px 2px 20px; 
    border-radius: 5px;
   font-weight: lighter;
}

.red {
    background-color: crimson;
    border-radius: 5px;
    padding: 10px;

    margin: 2px 20px 2px 20px; ;
}

section{
    display:flex;
}
.div1{
    
    background-color: aliceblue;
    border-radius: 10px;
    height:12cm; 
    width: 12cm;   
    color: black;
    margin: 0px 20px 0px 0px;   
}
.img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height:4cm ;
}
.text
{
    background-color: aliceblue;
    margin-left:3px;
    {}
   
